@media screen and (min-width:480px){
    .content > img{
        width: 35vh;
        max-height: 70vh;
        margin-bottom: 1vh;
        border-radius: var(--borderRadius);
        object-fit: cover;
    }
    .content > img:before{
        content:'(看到这个就代表图片加载失败了)';
        width: 35vh;
        height: 40vh;
        background: var(--loadingFailed);
        background-size: 100% 100%;
        display: block;
        text-align: center;
        color: var(--warnColor);
    }
}

@media screen and (max-width:480px){
    .content > img{
        width: 60vw;
        max-height: 120vw;
        margin-bottom: 1vh;
        border-radius: var(--borderRadius);
        object-fit: cover;
    }
    .content > img:before{
        content:'(看到这个就代表图片加载失败了)';
        width: 60vw;
        height: 65vw;
        background: var(--loadingFailed);
        background-size: 100% 100%;
        display: block;
        text-align: center;
        color: var(--warnColor);
    }
}