.content > img{
    width: 60vw;
    margin-bottom: 1vw;
    border-radius: var(--borderRadius);
    object-fit: cover;
}
.content > img:before{
    content:'(看到这个就代表图片加载失败了)';
    width: 60vw;
    height: 65vw;
    background: var(--loadingFailed);
    background-size: 100% 100%;
    display: block;
    text-align: center;
    color: var(--warnColor);
}