@media screen and (max-width:480px){

    .messageAnime-enter-active, .messageAnime-leave-active {
        transition: all var(--transitionTime);
    }
    .messageAnime-enter, .messageAnime-leave-to {
        opacity: 0;
    }

    .messageList{
        width: 95vw;
        height: 88vh;
        padding: 2vh 2.5vw 10vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .messageItem{
        margin-top: 3vw;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .messageItem-lines{
        margin-top: 1vw;
    }
    .avatar{
        width: 10vw;
        border-radius: 100%;
    }
    .information{
        display: flex;
        flex-direction: column;
        margin-left: 2vw;
    }
    .status{
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    .userName{
        font-size: var(--nameFontSize);
        color: var(--stress);
    }
    .message{
        max-width: 60vw;
        min-height: 5vw;
        padding: 2vw;
        margin-top: 1vw;
        display: flex;
        align-items: center;
        background-color: var(--stress);
        border-radius: var(--borderRadius);
        overflow: hidden;
    }
    .message-lines{
        margin-top: 0;
        margin-left: 10vw;
    }
    .content{
        color: var(--theme);
        font-size: var(--contentFontSize);
        word-wrap: break-word;
    }

    .sendMessageLayout{
        width: 96vw;
        height: 14vw;
        padding: 2vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        margin: auto;
        left: 0;
        bottom: 0;
        right: 0;
        border-top-left-radius: var(--borderRadius);
        border-top-right-radius: var(--borderRadius);
        background: var(--stress);
    }

    .messageTextInput{
        min-width: 60vw;
    }
    .sendButton{
        min-width: 25vw;
        min-height: 12.3vw;
    }

}