@media screen and (max-width:480px){

    .talk-MessageList{
        width: 95vw;
        height: 86vh;
        padding: 2vh 2.5vw 12vh;
    }
    .talk-MessageItem{
        margin-top: 4vw;
    }
    .talk-Message-Lines{
        margin-top: 2vw;
    }
    .talk-Avatar{
        width: 10vw;
    }

    .talk-Information{
        margin-top: 2vw;
        margin-left: 2vw;
    }
    .talk-Information-Lines{
        margin-top: 1vw;
        margin-left: 2vw;
    }
    .talk-Message{
        max-width: 60vw;
        min-height: 5vw;
        padding: 2vw;
        margin-top: 1vw;
    }
    .talk-Message-Lines{
        margin-top: 0;
        margin-left: 10vw;
    }

    .talk-SendMessageLayout{
        width: 96vw;
        height: 14vw;
        padding: 2vw;
        left: 0;
        bottom: 0;
        right: 0;
        border-top-left-radius: var(--borderRadius);
        border-top-right-radius: var(--borderRadius);
        background: var(--stress);
        align-items: center;
        justify-content: flex-start;
    }
    .talk-MessageTextInput{
        min-width: 60vw;
        flex-grow:1;
    }
    .talk-SendButton{
        min-width: 25vw;
        min-height: 12.3vw;
    }

    .talk-ScrollHeightButton{
        min-width: 12vw;
        min-height: 12vw;
        right: 7vw;
        bottom: 25vw;
    }

}