
.messageAnime-enter-active, .messageAnime-leave-active {
    transition: all var(--transitionTime);
}
.messageAnime-enter, .messageAnime-leave-to {
    opacity: 0;
}

body{
    background: var(--theme);
}

.talk-MessageList{
    overflow-x: hidden;
    overflow-y: scroll;
}
.talk-MessageItem{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.talk-Avatar{
    border-radius: 100%;
}

.talk-Information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.talk-Information-Lines{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.talk-Status{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.talk-UserName{
    font-size: var(--nameFontSize);
    color: var(--stress);
}
.talk-Message{
    display: flex;
    align-items: center;
    background-color: var(--stress);
    border-radius: var(--borderRadius);
    overflow: hidden;
}
.talk-Content{
    color: var(--theme);
    font-size: var(--contentFontSize);
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.talk-SendMessageLayout{
    position: fixed;
    margin: auto;
    display: flex;
    overflow: hidden;
}

.talk-ScrollHeightButton{
    position: fixed;
    font-size: 1.5em;
    font-weight: bold;
}