@media screen and (max-width:480px){
    body{
        background: var(--theme);
    }

    .layout{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .indexTitle{
        font-size: 3.5em;
        color: var(--stress);
    }
}