@media screen and (max-width:480px) {

    .login {
        width: 100vw;
        background-color: var(--theme);
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
        overflow: hidden;
    }

    .login-TopBar {
        width: 90vw;
        height: 5vw;
        padding: 8vw 5vw;
    }
    .login-Title {
        font-size: 1.5em;
    }
    .login-Close {
        min-width: 8vw;
        min-height: 8vw;
    }

    .login-Layout {
        height: 80vh;
        margin-bottom: 10vw;
    }

    .login-Input {
        width: 65vw;
        min-height: 14vw;
        margin-top: 5vw;
    }

    .login-Button {
        width: 71vw;
        min-height: 16vw;
        margin-top: 12vw;
    }
}