/* Rotate */
.rotate{
    animation-name: rotate;
    animation-duration: .8s;
    animation-iteration-count: infinite;
}
@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

/* Scale */
.scale{
    animation-name: scale;
    animation-duration: .35s;
}
@keyframes scale {
    from {transform: scale(.7)}
    to {transform: scale(1)}
}

/* Opacity */
.opacity{
    animation-name: opacity;
    animation-duration: .35s;
}
@keyframes opacity {
    from {opacity: 0}
    to {opacity: 1}
}


/* Pan-UP */
.pan-up{
    animation-name: pan-up;
    animation-duration: 1s;
}

@keyframes pan-up {
    from {
        bottom: -100vw;
    }
    to {
        bottom: 0;
    }
}

@media screen and (min-width:480px) {
    @keyframes pan-up {
        from {
            bottom: -100vh;
        }
        to {
            bottom: 5vh;
        }
    }
}