/* Button */
.gt-button{
    min-width: 30vw;
    min-height: 14vw;
    background-color: var(--stress);
    color: var(--theme);
    border: var(--theme) solid 1px;
    border-radius: var(--borderRadius);
    transition: all var(--transitionTime);
}
.gt-button:active{
    transform: scale(.9);
    filter: var(--diffuseShadow);
}

/* TextInput */
.gt-textInput{
    min-width: 18vw;
    min-height: 12vw;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: var(--theme);
    color: var(--stress);
    border: var(--stress) solid 2px;
    border-radius: var(--borderRadius);
    transition: all var(--transitionTime);
}
.gt-textInput:focus{
    filter: var(--diffuseShadow);
}

.outline{
    color: var(--stress);
    border: var(--stress) solid 1px;
    background-color: var(--theme);
}