@font-face {
    font-family: main;
    src: url("@/assets/fonts/main.ttf");
}

:root{

    /* DefaultTheme */
    /* Please go to main.js
    /* ------------ */

    --theme: #FFFFFF;
    --stress: #FFFFFF;

    --warnColor: #FFFFFF;

    --transitionTime: .2s;

    --animeRotateTime: 2s;
    --animeScaleTime: .5s;

    --diffuseShadow: drop-shadow(0 0 10px var(--stress));
    --diffuseShadowActive: drop-shadow(0 0 15px var(--stress));

    --borderRadius: 5px;

    --nameFontSize: .6em;
    --contentFontSize: 1em;

    --loadingFailed: url('@/assets/loadingfailed.png');
    --talkBackground: url('@/assets/graph-paper.svg');
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: main, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: var(--theme);
}