@font-face {
    font-family: main;
    src: url("@/assets/fonts/main.ttf");
}

:root{

    /* Black(暗黑) */
    /*--theme: #2c2c2c;
    --stress: #6b6b6b;*/

    /* Emerald(翡翠) */
    /*--theme: #ffffff;
    --stress: #38b48b;*/

    /* Calamus(菖蒲) */
    /*--theme: #ffffff;
    --stress: #cc7eb1;*/

    /* Peach(桃) */
    /*--theme: #ffffff;
    --stress: #f09199;*/

    /* Ultramarine(群青) */
    --theme: #ffffff;
    --stress: #4c6cb3;

    /* Shion(紫苑) */
    /*--theme: #ffffff;
    --stress: #867ba9;*/

    /* Half(半) */
    /*--theme: #ffffff;
    --stress: #a69abd;*/

    --warnColor: #FFFFFF;

    --transitionTime: .2s;

    --animeRotateTime: 2s;
    --animeScaleTime: .5s;

    --diffuseShadow: drop-shadow(0 0 10px var(--stress));
    --diffuseShadowActive: drop-shadow(0 0 15px var(--stress));

    --borderRadius: 5px;

    --nameFontSize: .4em;
    --contentFontSize: .8em;

    --loadingFailed: url('@/assets/loadingfailed.png')
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: main, sans-serif;
    overflow: hidden;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: var(--theme);
}